body{
    font-family:Poppins, sans-serif;
    text-align: center;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}
.start h1{
    color: white;
}
p{
    color: white;
    font-size: large;
    margin-bottom: 0;
    margin-top:7px;
    margin-bottom: 7px;
}
.container-sm{
    text-align: left;
    margin-top: 2rem;
    max-width: 720px;
    background-color: rgba(27, 27, 50, 0.8);
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.input-group-text{
    background-color: transparent;
    border: 0px;
    padding: 0;
}
.form-check-label{
    color: white;
}
button{
    margin-top:40px;
    margin-bottom:40px;

}
